body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* Next line adds a white line between header & navbar to cut them visually*/
    border-bottom: 2px solid white
}
/* Begin der Navbar-Elemente*/

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 30px;
    padding: 10px;
    color:white;
    position: relative;
}

nav li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px; /* Rote Linie näher an die Navbar-Elemente anschliessen*/
    width: 100%;
    height: 2px;
    background: red;
    transform: scaleX(0); /* Startwert bei 0*/
    transform-origin: center;
    transition: transform 0.3s ease; /* Add a smooth transition */
}

nav li:hover::after {
    transform: scaleX(1); /* Erstellung einer Linie unter dem Wort (für 100% der Weite des Wortes) */
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Ende der Navbar-Elemente*/

.section {
    padding: 20px;
    background-color: #fff; 
    margin: 20px;
    border-radius: 5px;
}

#vorstellung {
    margin: 20px;
}



#vorstellung .ich {
    display: flex; 
    align-items: center; /* Vertically center the image and text within the "ich" div */
}

#vorstellung img {
    max-width: 320px; /* Beschränkung des Bildes bezogen auf die Größe */
    margin: 10px; /* Kleiner Abstand nach rechts, für leserlichkeit */
    border: 10px white;
}

#vorstellung .text-box {
    flex: 1; 
}

.row{
    display:flex;
    flex-wrap: wrap;
}

.column {
    flex:1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 10px;
}


@media (max-width: 768px) {
    
    .row {
        flex-direction: column;
    }
   

    #vorstellung .ich {
        display: block; /* Bei kleinen Screens wird der Text in Blockform angezeigt unter dem Bild, statt neben dem Bild */
    }
    #vorstellung img {
        max-width: 100%; /* Als Folge dessen wird das Bild darüber angezeigt und nimmt 100% der Weite ein */
        margin-right: 0; /* Automatischen Margin entfernen*/
    }
    .special-section{
        display:block;
        width: auto;
    }
}

.lebenslauf-downloadbutton{
    color: blue;
    background-color: white;
    padding: 10px;  
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
/* Projekteliste*/

.project {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all 1s;
}
.show {
    opacity: 1;
}
/* Projekteliste Ende */ 

.module-list {
    list-style: none;
    padding: 0;
}

.module-list li {
    margin-bottom: 20px;
}

.module-list h3 {
    border-bottom: 1px solid black;
    padding-bottom: 10px; 
    margin-bottom: 20px; 
}

.module-list strong {
    color: lightseagreen; 
}

.module-list li p {
    margin-top: 5px;
}


/* Allgemeines */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}
h4 {
    margin: 0;
}

/* Footer CSS */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
}
.footer-icons i {
    font-size: 24px;
    color: #fff;
    margin:10px;
}